{%  extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>Records</h1>
        {% if records %}
            {% for record in records %}
                {{ record.first_name }}
                {{ record.last_name }}
                {{ record.email }}
                {{ record.phone }}
                {{ record.address }}
                {{ record.city }}
                {{ record.state }}
                {{ record.zipcode }}
                {{ record.create_at }}
                {{ record.id }}
                <br/>
            {%  endfor %}
        {% endif %}
    {% else %}
        <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <form method="post" action="{% url "home" %}" >
            {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="username@provider.com" aria-describedby="username" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
        </form>
        </div>

        {% endif %}
{% endblock %}